<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thymeleaf Demo</title>
	
	<!-- reference CSS file -->
	<link rel="stylesheet" th:href="@{/css/demo.css}" />
	
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

	<h3>Employee Directory</h3>
	<hr>
	
	<div class="container">
	
	<p class="h4 mb-4">Save Employee</p>
	
		<form action="#" th:action="@{/employees/save}"
			th:object="${employee}" method="POST">
			
			<input type="text" th:field="*{firstName}"
				class="form-control mb-4 col-4" placeholder="First Name" />
			
			<input type="text" th:field="*{lastName}"
				class="form-control mb-4 col-4" placeholder="Last Name" />
				
			<input type="text" th:field="*{email}"
				class="form-control mb-4 col-4" placeholder="Email" />	
				
			<button type="submit" class="btn btn-info col-2 mb-4">Save</button>			
					
		</form>
		
		<a th:href="@{/employees/list}">Back to Employees List</a>
	
	</div>
	
	
	
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>